@tailwind base;
@tailwind components;
@tailwind utilities;


.form{
    margin: 15px;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}